<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img class="logo" src="/img/logo-mercado-liebre.svg" alt="Logo">
        <form>
            <input type="text" placeholder="Buscar">
            <button>Buscar</button>
        </form>
        <nav>
            <ul>
                <li></li><a href="/ofertas">Ofertas</a></li>
                <li></li><a href="/tiendas-oficiales">Tiendas Oficiales</a> </li> 
                <li></li><a href="/vender">Vender</a> </li>
                <li></li><a href="/ayuda">Ayuda</a> </li>
                <li></li><a href="/crear-cuenta">Creá tu cuenta</a> </li>
                <li></li><a href="/ingresar">Ingresá</a> </li>
                <li></li><a href="/mis-compras">Mis compras</a> </li>
            </ul>
        </nav>
    </header>
</body>
</html>