<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <h1>Mi página web</h1>
        <nav>
          <a href="/">Inicio</a> |
          <a href="/acerca">Acerca de</a> |
          <a href="/contacto">Contacto</a>
        </nav>
      </header>
  
      <main>
        <h2>Bienvenidos a mi página web</h2>
        <p>En esta página encontrarás información sobre mí y mis intereses.</p>
      </main>
  
      <footer>
        <p>&copy; 2022 Mi nombre</p>
      </footer>
</body>
</html>